div {
  padding: 0.25em 0.5em;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex>div,
.flex>a {
  flex: 1;
}

a {
  text-decoration: none;
}

h1,
a,
p {
  color: black;
}

.post-card {
  max-width: 300px;
  border: solid thin red;
  margin: 1em;
  height: 100%;
  padding: 0.25em 0.5em;
}

h1 {
  font-size: 1.5em;
}

.post-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}